
<div *ngIf="userExtra">
    <h2><span>User Extra</span> {{userExtra.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Promotion</span></dt>
        <dd>
            <div *ngIf="userExtra.promotionId">
                <a [routerLink]="['/promotion', userExtra.promotionId]">{{userExtra.promotionId}}</a>
            </div>
        </dd>
        <dt><span>Secteur</span></dt>
        <dd>
            <div *ngIf="userExtra.secteurId">
                <a [routerLink]="['/secteur', userExtra.secteurId]">{{userExtra.secteurId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'user-extra/'+ userExtra.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
