
<div *ngIf="tag">
    <h2><span>Tag</span> {{tag.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Nom</span></dt>
        <dd>
            <span>{{tag.nom}}</span>
        </dd>
        <dt><span>Memoires</span></dt>
        <dd>
            <span *ngFor="let memoires of tag.memoires; let last = last">
                <a [routerLink]="['/memoire', memoires?.id ]">{{memoires.id}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'tag/'+ tag.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
