<div>
    <h2>
        <span>Specialites</span>
        <button class="btn btn-primary float-right jh-create-entity create-specialite" [routerLink]="['/', { outlets: { popup: ['specialite-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Specialite
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="specialites">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Libelle</span></th>
            <th><span>Secteur</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let specialite of specialites ;trackBy: trackId">
                <td><a [routerLink]="['../specialite', specialite.id ]">{{specialite.id}}</a></td>
                <td>{{specialite.libelle}}</td>
                <td>
                    <div *ngIf="specialite.secteurId">
                        <a [routerLink]="['../secteur', specialite.secteurId  ]" >{{specialite.secteurId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../specialite', specialite.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'specialite/'+ specialite.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'specialite/'+ specialite.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
